Employee-web-service/Soap_API/wsdl/leaveService.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/leave" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/leave">

  <types>
    <xsd:schema targetNamespace="http://example.com/leave">
      <xsd:element name="ApplyLeaveRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="startDate" type="xsd:date"/>
            <xsd:element name="endDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ApplyLeaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="ApplyLeaveRequestMessage">
    <part name="parameters" element="tns:ApplyLeaveRequest"/>
  </message>
  <message name="ApplyLeaveResponseMessage">
    <part name="parameters" element="tns:ApplyLeaveResponse"/>
  </message>

  <portType name="LeaveServicePort">
    <operation name="ApplyLeave">
      <input message="tns:ApplyLeaveRequestMessage"/>
      <output message="tns:ApplyLeaveResponseMessage"/>
    </operation>
  </portType>

  <binding name="LeaveServiceBinding" type="tns:LeaveServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ApplyLeave">
      <soap:operation soapAction="http://example.com/leave/ApplyLeave"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="LeaveService">
    <port name="LeaveServicePort" binding="tns:LeaveServiceBinding">
      <soap:address location="http://localhost:5000/soap"/>
    </port>
  </service>
</definitions>