Employee-web-service/Soap_API/wsdl/salaryService.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/salary" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/salary">

  <types>
    <xsd:schema targetNamespace="http://example.com/salary">
      <xsd:element name="GetSalaryDetailsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetSalaryDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="amount" type="xsd:double"/>
            <xsd:element name="currency" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="GetSalaryDetailsRequestMessage">
    <part name="parameters" element="tns:GetSalaryDetailsRequest"/>
  </message>
  <message name="GetSalaryDetailsResponseMessage">
    <part name="parameters" element="tns:GetSalaryDetailsResponse"/>
  </message>

  <portType name="SalaryServicePort">
    <operation name="GetSalaryDetails">
      <input message="tns:GetSalaryDetailsRequestMessage"/>
      <output message="tns:GetSalaryDetailsResponseMessage"/>
    </operation>
  </portType>

  <binding name="SalaryServiceBinding" type="tns:SalaryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetSalaryDetails">
      <soap:operation soapAction="http://example.com/salary/GetSalaryDetails"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="SalaryService">
    <port name="SalaryServicePort" binding="tns:SalaryServiceBinding">
      <soap:address location="http://localhost:5000/soap"/>
    </port>
  </service>
</definitions>